// Fonts

$font-family: "Raleway", sans-serif;
$second-family: "Playfair Display", sans-serif;
$third-family: "Roboto", sans-serif;

// Colors

$accent: #d4c17f;
$dark: #242b33;
$white: #fff;
$footer-bg: #2d343c;
$placeholder: #bebebe;
$muted: #e7e7e7;

// Media

$tablet: 959px;
